# Dependencies
node_modules/
**/node_modules/

# Build outputs
target/
**/target/
dist/
build/

# IDE/editor
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env
.env.*

# Java / Maven
**/.mvn/wrapper/maven-wrapper.jar

# Misc
HELP.md